.list{
    list-style-type: none;
    padding:0px;
}
.list>li{

    text-align: center;
    font-size: large;
    border: 1px solid #f2eded;
    margin: 15px;
    padding:10px;
    background-color: lightblue;
}